 /* Базовые стили */
 * {
     box-sizing: border-box;
 }

 :root {
     --font-family: "Montserrat", sans-serif;
     --second-family: "Open Sans", sans-serif;
     --third-family: "Roboto", sans-serif;
     --dark: #2c3b45;
     --akcent: #1e92e7;
 }

 html,
 body {
     height: 100%;
 }

 ul {
     margin: 0;
     padding: 0;
 }

 ul>li {
     list-style: none;
 }

 img {
     max-width: 100%;
 }

 /* Наследовать цвет от родителя */
 /* Убрать нижнее подчеркивание */
 a {
     color: inherit;
     text-decoration: none;
 }

 /* Цвет фона прозрачный */
 /* Нет границ */
 button {
     background-color: transparent;
     border: none;
     padding: 0;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     margin: 0;
 }

 .wrapper {
     min-height: 100%;
     overflow: hidden;
     font-family: var(--font-family);
 }

 /* Общие стили */
 .container {
     max-width: 1260px;
     margin-inline: auto;
     padding: 0px 40px;
 }

 .btn {
     border-radius: 5px;
     background-color: var(--akcent);
     color: #FFFFFF;
     font-family: var(--second-family);
     font-weight: 600;
     font-size: 18px;
     text-transform: uppercase;
     padding: 14px 35px;
     transition: all 0.4s;
 }

 .btn:hover {
     background-color: #1a7ac0;
 }

 .btn--transparent {
     background-color: transparent;
     border: 1px solid var(--akcent);
     color: #000;
 }

 .btn--transparent:hover {
     color: #fff;
 }

 .section-title {
     font-weight: 600;
     font-size: 36px;
     text-transform: uppercase;
     color: #000;
 }



 /* end Общие стили */

 .header {
     width: 100%;
     padding-top: 30px;
     position: absolute;
 }

 .header__content {
     display: flex;
     gap: 20px;
     justify-content: space-between;
 }

 .logo {
     color: #FFFFFF;
     text-transform: uppercase;
     display: flex;
     align-items: center;
     gap: 6px;
     font-weight: 700;
     font-size: 16px;
 }

 .logo::before {
     display: inline-block;
     content: "";
     width: 30px;
     height: 30px;
     background-image: url(../img/icons/logo.png);
     background-size: contain;
 }

 .nav {
     background-color: #404F59;
     border-radius: 0px 0px 10px 10px;
     font-family: var(--second-family);
     padding: 20px 40px;
     margin-top: -30px;
 }

 .nav__list {
     display: flex;
     gap: 30px;
 }

 .nav__link {
     font-weight: 400;
     font-size: 16px;
     color: #FFFFFF;
 }

 .phone {
     font-weight: 700;
     font-size: 16px;
     color: rgba(255, 255, 255, 0.4);
     display: flex;
     column-gap: 10px;
     align-items: center;
 }

 .phone span {
     color: #fff;
 }

 .phone:before {
     content: "";
     display: inline-block;
     width: 24px;
     height: 24px;
     background-image: url(../img/icons/tel.svg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: contain;
 }

 .hero {
     background-color: var(--dark);
     border-bottom: 50px solid var(--akcent);
     background-image: url(../img/hero/decor.svg);
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     padding-top: 134px;
 }

 .hero__container {
     display: flex;
     justify-content: space-between;
     gap: 44px;
 }

 .hero__content {
     flex: 1 0 auto;
     padding-top: 92px;
     padding-bottom: clamp(100px, 16.9vw, 199px);
 }

 .address {
     font-weight: 700;
     font-size: 16px;
     text-transform: uppercase;
     color: var(--akcent);
     font-style: normal;
     margin-bottom: 35px;
     display: flex;
     align-items: center;
     gap: 10px;
 }

 .address::before {
     content: "";
     display: block;
     width: 25px;
     height: 25px;
     background-image: url(../img/icons/clarity_map-marker-solid.svg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: contain;
 }

 .title {
     font-weight: 500;
     font-size: clamp(31px, 4.7vw, 56px);
     line-height: 1.2;
     text-transform: uppercase;
     color: #fff;
     margin-bottom: 47px;
 }

 .hero__btns {}

 .hero__btn {}

 .hero__img-wrap {
     flex: 0 1 clamp(256px, 49vw, 580px);
     display: flex;
     justify-content: center;
     align-items: flex-end;
     border-radius: 5px 0px 0px 0px;
     position: relative;
     padding-left: 30px;
 }

 /* Блок с облаками */
 .hero__img-wrap:before {
     content: "";
     display: block;
     background-image: url(../img/hero/sky.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     /* background: url(../img/hero/sky.jpg) center/cover no-repeat; */
     height: 100%;
     width: 100vw;
     border-radius: inherit;
     position: absolute;
     top: 0;
     left: 0;
     z-index: 10;
 }

 /* Фон за облаками */
 .hero__img-wrap:after {
     content: "";
     display: block;
     background-color: #404f59;
     position: absolute;
     top: -15px;
     left: 30px;
     height: 100%;
     width: 100vw;
     border-radius: inherit;
     z-index: 5;
 }

 .hero__img {
     max-height: 95%;
     height: auto;
     z-index: 15;
     position: relative;
     flex: 0 0 auto;
 }

 /* Аренда */
 .rent {
     padding-top: 120px;
     padding-bottom: 100px;
 }

 .rent__title {
     margin-bottom: 16px;
 }

 .rent__btns {
     display: flex;
     gap: 10px;
     margin-bottom: 50px;
 }

 .rent__btn {}

 .offers {}

 .offers__container {
     position: relative;
 }

 .control {}

 .offers__control {
     position: absolute;
     top: 207px;
 }

 .offers__control--prev {
     left: 0;
 }

 .offers__control--next {
     right: 0;
 }

 .offers__list {
     display: flex;
     gap: 20px;
     justify-content: space-between;
     margin-bottom: 50px;
 }

 /* Карточка предложения */
 .offer {
     /* тень */
     /* https://html5book.ru/css3-ten-bloka/ */
     box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
     background-color: #fff;
     border-radius: 5px;
     overflow: hidden;
     flex: 0 0 380px;
 }

 .offer__content {
     width: 100%;
 }

 .offer__img {
     width: 100%;
     height: 222px;
 }

 .offer__img img {
     width: 100%;
     height: 100%;
     /* https://doka.guide/css/object-fit/ */
     object-fit: cover;
 }

 .offer__info {
     padding: 30px 40px 40px;
 }

 .offer__info-list {
     margin-bottom: 30px;
     display: flex;
     flex-direction: column;
     row-gap: 20px;
 }

 .offer__info-item {
     width: 100%;
     display: flex;
     justify-content: space-between;
 }

 .offer__info-desc {
     font-weight: 700;
     font-size: 16px;
     color: #000;
     display: flex;
     flex: 1;
 }

 .offer__info-desc::after {
     content: "";
     border-bottom: 1px dashed #e6e6e6;
     flex: 1;
 }

 .offer__info-value {
     font-family: var(--third-family);
     font-weight: 400;
     font-size: 16px;
     color: #000;
 }

 .offer__info-value--true {
     font-family: var(--third-family);
     font-weight: 400;
     font-size: 16px;
     color: #61cd66;
 }

 .offer__btn {
     width: 100%;
 }

 .slider-indicators {
     width: 100%;
     display: flex;
     justify-content: center;
     gap: 10px;
 }

 .offers__indicators {}

 .slider-indicator {
     background-color: #d9d9d9;
     border-radius: 1px;
     width: 76px;
     height: 3px;
 }

 .slider-indicator.active {
     background-color: var(--akcent);
 }

 /* Секция Услуги компании */

 .services {
     background: #f8f8f8;
     padding-top: 90px;
     padding-bottom: 120px;
 }

 .services__header {
     margin-bottom: 50px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }


 .services__title {}

 .services .logo {
     font-weight: 700;
     font-size: 16px;
     text-transform: uppercase;
     color: #000;
     filter: opacity(40%);
 }

 .services__list {
     display: flex;
     flex-wrap: wrap;
     gap: 20px;
 }

 .services__item {
     flex: 1 1 calc((100% - 40px) / 3);
     display: flex;
     border-radius: 5px;
     box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
     background: #fff;
     min-height: 172px;
 }

 .service {}

 .service__img {
     width: 70px;
     flex-shrink: 0;
     background-color: var(--dark);
     border-top-left-radius: inherit;
     border-bottom-left-radius: inherit;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .service__img img {
     width: 40px;
     height: 40px;
 }

 .service__desc {
     padding: 30px;
 }

 .service__title {
     font-weight: 600;
     font-size: 16px;
     color: #000;
     margin-bottom: 10px;
 }

 .service__desc ul {
     font-family: var(--third-family);
     font-weight: 400;
     font-size: 14px;
     line-height: 140%;
     color: #9c9c9c;
     padding-left: 12px;
 }

 .service__desc ul>li {
     list-style: initial;
 }

 /* Фотогаллерея */
 .gallery {
     padding-top: 120px;
     padding-bottom: 90px;
 }

 .gallery__title {
     margin-bottom: 54px;
 }

 .gallery__slider {
     margin-bottom: 50px;
     display: flex;
     flex-direction: column;
     align-items: center;
     position: relative;
 }

 .gallery__slider-controls {
     width: 100%;
     position: absolute;
     top: 50%;
 }

 .control {
     border-radius: 50%;
     width: 40px;
     height: 40px;
     position: absolute;
     display: flex;
     justify-content: center;
     align-items: center;
     box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
     transition: all 0.3s;
     background-color: #FFFFFF;
     transform: translateY(-50%);
 }

 .gallery__slider-control {}

 .gallery__slider-control svg {
     width: 9px;
 }

 .gallery__slider-control:hover {
     scale: 1.1;
 }

 .gallery__slider-control:hover path {
     stroke: var(--akcent);
 }

 .gallery__slider-control-prev {
     left: 20px;
 }

 .gallery__slider-control-next {
     right: 20px;
 }

 .gallery__list {
     display: flex;
     gap: 30px;
     overflow-x: auto;
 }

 .gallery__item {
     flex: 0 0 575px;
     height: 382px;
     border-radius: 5px;
     overflow: hidden;
     box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
 }

 .gallery__img {
     width: 100%;
     height: 100%;
     object-fit: cover;
 }

 .slider-indicators {}

 .gallery__slider-indicators {}

 .slider-indicator {}

 .active {}