/* Базовые стили */
* {
    box-sizing: border-box;
}

:root {
    --font-family: "Montserrat", sans-serif;
    --second-family: "Open Sans", sans-serif;
    --third-family: "Roboto", sans-serif;
    --dark: #2c3b45;
    --akcent: #1e92e7;
}

html,
body {
    height: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

ul>li {
    list-style: none;
}

img {
    max-width: 100%;
}

/* Наследовать цвет от родителя */
/* Убрать нижнее подчеркивание */
a {
    color: inherit;
    text-decoration: none;
}

/* Цвет фона прозрачный */
/* Нет границ */
button {
    background-color: transparent;
    border: none;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    font-family: var(--font-family);
}